the_third_group_of_ablation_experiments/Ablation_experiment_in_Car(c11,c12,c13)/AlexNet_model/AlexNet.pth filter=lfs diff=lfs merge=lfs -text
the_third_group_of_ablation_experiments/Ablation_experiment_in_Cat(c31,c32,c33)/AlexNet_model/AlexNet.pth filter=lfs diff=lfs merge=lfs -text
the_third_group_of_ablation_experiments/Ablation_experiment_in_Frog(c21,c22,c23)/AlexNet_model/AlexNet.pth filter=lfs diff=lfs merge=lfs -text
